body {
    font-family: "Poppins", Arial sans-serif;
    font-size: 16px;
    color: #828282;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


/*desactivar viñetas de la lista*/

ul {
    margin: 0;
    padding: 0px;
    list-style: none;
}


/************ TABLA DE PRECIOS ***************/


/*
#plan {
    padding-bottom: 100px;
}
*/


/*diseño de cuadro de tabla*/

.price-table {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #d6d6d6;
    transition: all .2s ease-in-out;
    cursor: pointer;
    margin-left: 0px;
}

.price-table:hover {
    background-color: #d3f2ee;
    margin-top: -40px;
    /* transform: scale(1.2);*/
    z-index: 10;
    border: none;
}


/*
.price-table i.fa {
    color: #d6d6d6;
    font-size: 40px;
}
*/


/*
.price-table h6 {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #828282;
    font-weight: 400;
}
*/

div.price {
    font-size: 70px;
    font-weight: 300;
    color: #333c4d;
}

div.dollar {
    vertical-align: top;
    font-size: 17px !important;
    display: inline-block;
    margin-top: 15px;
    color: #222;
}


/*estilos en los textos listas*/

.price-table ul.features {
    margin-top: 10px;
}

.price-table ul.features li {
    font-size: 16px;
    line-height: 37px;
}


/*al pasar el mouse en la info cambia a color blanco los textos*/

.price-table:hover * {
    color: rgb(225, 152, 206) !important;
}


/**************** MEDIA QUERIES ******************/


/*
@media(max-width: 768px) {
    .price-table {
        padding-bottom: 50px;
    }
}
*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    .price-table {
        padding-bottom: 50px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .price-table {
        padding-bottom: 50px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .price-table {
        padding-bottom: 50px;
    }
}


/* X-Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .price-table {
        padding-bottom: 50px;
    }
}


/* XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {
    .price-table {
        padding-bottom: 50px;
    }
}